<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/monitoring.ico">
    <link rel="stylesheet" type="text/css" href="/static/s/main.css?v2">
</head>
<body>
<div id="nav">
    <div class="dropdown">
        <div class="dropbtn">{{.title}}</div>
        <div class="dropdown-content">
            <div>This is {{.title}}.</div>
        </div>
    </div>
    <a class="pull-right green" href="https://github.com/cn007b/monitoring">Fork me on GitHub </a>
</div>
<div id="root"></div>
</body>
</html>
