body {
    margin: 0;
}
a {
    text-decoration: none;
}
#root {
    color: #757575;
    font-family: 'Roboto',sans-serif;
    margin: 15px;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.rightcenter {
    bottom: 0;
    height: 40px;
    margin: auto;
    overflow: auto;
    padding-right: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 35px;
}
.cursor-pointer {
    cursor: pointer;
}
.hide {
    display: none;
}
.nw {
    white-space: nowrap;
}
.purple {
    color: #a535ae;
}
.green {
    color: #00a33f;
}
.orange {
    color: #ff5600;
}
.errors {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: .25rem;
    color: #721c24;
}
.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: .25rem;
    color: #155724;
}



#nav {
    background-color: whitesmoke;
    border-bottom: 1px solid gainsboro;
    color: dimgray;
    padding: 10px;
}
#nav a {
    color: dimgray;
    text-decoration: none;
}
#nav .blue {
    color: cornflowerblue;
}
#nav .green {
    color: seagreen;
    text-decoration: blink;
}
#nav div {
    margin-right: 9px;
}
#nav .dropdown, div {
    cursor: pointer;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}
.dropdown-content div {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}



#projectForm {
    color: #4a4949;
    font-size: 16px;
    margin: 10px 10px 50px 10px;
}
#projectForm section {
    border: 1px solid whitesmoke;
    margin-top: 10px;
    padding: 15px;
}
#projectForm .row {
    display: flex;
}
#projectForm .cell {
    margin-right: 40px;
}
#projectForm label {
    display: block;
    margin: 5px;
    width: 350px;
}
#projectForm label i {
    color: grey;
    font-size: 14px;
}
#projectForm input {
    border: 1px solid silver;
    width: 350px;
}
#projectForm textarea {
    border: 1px solid silver;
    width: 350px;
}
#projectForm select {
    border: 1px solid silver;
    width: 350px;
}



#charts .params {
    margin: 20px 20px 0 20px;
    width: 47%;
}
#charts .timeRange {
    font-size: 16px;
}
#charts .timeRange a {
    display: inline-block;
    text-align: center;
    width: 25px;
}
#charts .timeRange a:hover {
    text-decoration: underline;
}
#charts .timeRangeDefault {
    color: #757575;
}
#charts .timeRangeActive {
    color: red;
}
#charts .row {
    display: flex;
}
#charts .cell {
    display: flex;
    margin: 5px;
    padding: 15px;
    width: 47%;
}
#charts .errors {
    padding: 1px 15px;
}
#charts .chart {
    height: 330px;
    margin: 20px;
    text-align: center;
    width: 100%;
}
#charts .loader {
    height: 330px;
    left: 41%;
    position: absolute;
}
